<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900">
        <form method="post" action="/create">
            <input type="text" name="username" placeholder="Username" class="m-2 p-2 rounded"/>
            <input type="email" name="email" placeholder="Email" class="m-2 p-2 rounded"/>
            <input type="password" name="password" placeholder="Password" class="m-2 p-2 rounded"/>
            <input type="age" name="age" placeholder="Age" class="m-2 p-2 rounded"/>
            <button type="submit" class="m-2 p-2 bg-blue-500 text-white rounded">Create Account</button>
        </form>
    </div>
</body>
</html>